<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Fondo para Páginas animado</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <div class="animation-container">
        <div class="burst">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
    <script type="text/javascript">
        function createburst() {
            let animcontainer = document.querySelector(".animation-container");
            let burst = document.querySelector(".burst");
            let lines = document.querySelectorAll(".line")
            lines.forEach((line) => {
                const colors = ["#ea433", "#34a853", "#4285f4", "#fbbc05",
                    "#adc18b9", "#ff5a00", "#8621f8", "#ffff1b"];

                const randomcolor = colors[Math.floor(Math.random() * colors.length)];
                line.style.background = randomcolor;
            })
            burst.style.top = Math.random() * innerHeight + "px";
            burst.style.left = Math.random() * innerWidth + "px";


            let burstclone = burst.cloneNode(true);
            animcontainer.appendChild(burstclone);

            setTimeout(() => {
                burstclone.remove();
            }, 8000);
        }
        setInterval(createburst, 300);
    </script>

</body>
</html>

